{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login Page</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="http://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>

    </head>
    <body style="background:  #96a8ba;">
        <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
        <br>
        <br>
        <h1 class = "fontputih text-center">Start with logging in to your account! </h1>
        <br>
        <div class = "container"> 
            <form method = "POST">
                {% csrf_token %}
                <div class="form-row justify-content-center my-2 my-lg-0">
                    <label class = fontpink for ="username"><b>Username    : </b></label>
                    <br>
                    <input type ="text" class = "mr-sm-2" name= "username" id ="username" required placeholder="Username Here!">
                </div>
                <br>
                <div class="form-row justify-content-center my-2 my-lg-0">
                    <label class = fontpink for ="password"><b>Password    : </b></label>
                    <br>
                    <input type ="password" name= "password" id="password" required placeholder="Password Here!">
                </div>
                    <p class = fontputih >{{error}}</p>
                <div class="form-row justify-content-center my-2 my-lg-0">
                <button id ="login" style="background: #afd275;" class= "btn btn-lg-2" 
                        type="submit">Log in</button>
            </form>
        </div>
    </body>
</body>
</html>
